
div{
	height: 25%;
	width: 35%px;
	font-size: 15px;
	margin-bottom: 2%;
	display: inline-block;
}
.amarillo{
	background-color: yellow;
}
.rojo{
	background-color: red;
}


.pdl5{
	padding-left: 2%;
}

.pdt5{
	padding-top: 5%;
}
.may{
	text-transform: uppercase;
}

.exep{
	margin-bottom: 0%
}